- @diagnostics.each do |diagnostic|
  .row.span12.well.section.chart
    .row
      .span7
        %h3.no-top-margin
          =link_to diagnostic.name, diagnostic_path(diagnostic.id)
      .span5.admin.pull-right.margin-top
        - if check_admin(current_user)
          = link_to 'Edit Content', diagnostic_admin_path(diagnostic), id: 'show-content', data: { diagnostic_id: diagnostic.id }
          |
          \#{link_to 'Edit Name and Description', edit_diagnostic_path(diagnostic)}
          |
          \#{link_to "Delete", "#delete#{diagnostic.id}",  :'data-toggle' => "modal"}
    .row.head2
      = diagnostic.description
      -if diagnostic.complete_for_user(current_user) == 100
        = link_to "Download PDF", diagnostic_show_pdf_path(diagnostic.id)
    - if user_signed_in?
      %img{src: "/results/#{diagnostic.id}-#{current_user.id}.png"}/
    - if user_signed_in? && diagnostic.complete_for_user(current_user) > 0
      .progress.progress-striped
        .bar{style: "width:#{diagnostic.complete_for_user(current_user)}%"}
          .black
            = "#{diagnostic.complete_for_user(current_user)}% Complete"
  .modal.fade{id: "delete#{diagnostic.id}"}
    .modal-header
      %a.close{"data-dismiss" => "modal"} x
      %h3 Are you sure you want to delete this diagnostic?
    .modal-body
      %p If you do all its content will be lost
    .modal-footer
      %a.btn{"data-dismiss" => "modal", href: "#"} Close
      = link_to 'Delete', diagnostic, method: :delete, class: 'btn btn-primary'
