<% @diagnostics.each do |diagnostic| %>



  <div class="row span12 well section chart">
    <%= link_to diagnostic.name, diagnostic_path(diagnostic) %>
    <span class="admin pull-right">
      <% if check_admin(current_user) %>
        <%= link_to 'Edit Content', diagnostic_admin_path(diagnostic), id: 'show-content', data: { diagnostic_id: diagnostic.id } %>
        |
        <%= link_to 'Edit Name and Description', edit_diagnostic_path(diagnostic) %>
        |
        <a diagnostic href="#delete<%= diagnostic.id %>", data-toggle="modal" >Delete</a>
      <% end %>
    </span>
    <div class="row head2">
      <%= diagnostic.description %>
    </div>
    
    <% if user_signed_in? %>
      <img src="/results/<%= diagnostic.id %>-<%= current_user.id %>.png"/>
    <% end %>
    
    <% if user_signed_in? && diagnostic.complete_for_user(current_user) > 0 %>
      <div class="progress progress-striped">
        <div class="bar" style="width:<%= diagnostic.complete_for_user(current_user) %>%">
          <div class="black">
            <%= "#{diagnostic.complete_for_user(current_user)}% Complete" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="modal fade" id="delete<%= diagnostic.id %>">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">x</a>
      <h3>Are you sure you want do delete this diagnostic?</h3>
    </div>
    <div class="modal-body">
      <p>If you do all its content will be lost</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <%= link_to 'Delete', diagnostic, method: :delete, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>