-@diagnostics.each do |diagnostic|
  .row.span12.well.section.chart{ :'data-animation' => :true, :'data-trigger' => :hover, :'data-html' => :true, :'data-title' => "Percent Complete", :'data-content' => "#{percent_completed(@completed[diagnostic.id], @sums[diagnostic.id])}%"}
    = link_to diagnostic.name, diagnostic_path(diagnostic)
    %span.admin.pull-right
      - if check_admin(current_user)
        = link_to 'Edit Content', diagnostic_admin_path(diagnostic), id: 'show-content', data: { diagnostic_id: diagnostic.id }
        |
        \#{link_to 'Edit Name and Description', edit_diagnostic_path(diagnostic)}
        |
        \#{link_to 'Delete', diagnostic, method: :delete, data: { confirm: 'Are you sure? This will delete all the content of this diagnostic.' }}
      - else
        = link_to 'Show Content', diagnostic_admin_path(diagnostic), id: 'show-content', data: { diagnostic_id: diagnostic.id }
    
    .row.head2
      = diagnostic.description
    
    %div{id: "chart#{diagnostic.id}"}
    
    
    
    

    %script{src: "http://d3js.org/d3.v3.min.js"}
    %script{src: "../src/radar-chart-min.js"}
    :javascript
      var d = [
                [
                  {axis: "axis 1", value: Math.floor((Math.random()*100)+1)}, 
                  {axis: "axis 2", value: Math.floor((Math.random()*100)+1)}, 
                  {axis: "axis 3", value: Math.floor((Math.random()*100)+1)}, 
                  {axis: "axis 4", value: Math.floor((Math.random()*100)+1)},  
                  {axis: "axis 5 ", value: Math.floor((Math.random()*100)+1)},
                  {axis: "axis 6 ", value: Math.floor((Math.random()*100)+1)},
                  {axis: "axis 7 ", value: Math.floor((Math.random()*100)+1)},
                  {axis: "axis 8 ", value: Math.floor((Math.random()*100)+1)}
                ]
              ];


      RadarChart.draw("#chart#{diagnostic.id}", d);