.container
  - flash.each do |type, message|
    %div{class: "alert alert-block #{flash_class(type, action_name)}"}
      %button.close{"data-dismiss" => "alert"} x
      %h4= flash_header message
      %div= message
        
  %h1= @diagnostic.name

  .row
    .span12
      - if check_admin(current_user)
        = link_to 'New Segment', new_segment_path(@diagnostic), class: 'btn btn-top'


  -@diagnostic.segments.each do |segment|
    .span12
      .row.well.info.section
        .span8
          =segment.name
        .span3.admin
          - if check_admin(current_user)
            = link_to 'Edit', edit_segment_path(segment)
            |
            = link_to "Delete", "#delete_segment#{segment.id}",  :'data-toggle' => "modal"
            
        .row.span12
          - if check_admin(current_user)
            = link_to 'New Question', new_question_path(segment)
                
      - segment.questions.each do |question|
        .row.well.section
          .span8
            = question.name
          .span3.admin
            - if check_admin(current_user)
              = link_to 'Edit', edit_question_path(question)
              |
              = link_to "Delete", "#delete_question#{question.id}",  :'data-toggle' => "modal"
          .row.span12
            - if check_admin(current_user)
              = link_to 'New Sub question', new_sub_question_path(question)   
  
        - question.sub_questions.each do |sub_question|
          .row.well.section
            .span1
            .span3
              = sub_question.name
            .span4
              = sub_question.evidence
            .span3.admin
              - if check_admin(current_user)
                = link_to 'Edit', edit_sub_question_path(sub_question)
                |
                = link_to "Delete", "#delete_sub_question#{sub_question.id}",  :'data-toggle' => "modal"
              

-@diagnostic.segments.each do |segment|
  .modal.fade{id: "delete_segment#{segment.id}"}
    .modal-header
      %a.close{"data-dismiss" => "modal"} x
      %h3 Are you sure you want to delete this segment?
    .modal-body
      %p If you do all its content will be lost
    .modal-footer
      %a.btn{"data-dismiss" => "modal", href: "#"} Close
      = link_to 'Delete', segment, method: :delete, class: 'btn btn-primary'

-@diagnostic.segments.each do |segment|
  -segment.questions.each do |question|
    .modal.fade{id: "delete_question#{question.id}"}
      .modal-header
        %a.close{"data-dismiss" => "modal"} x
        %h3 Are you sure you want to delete this question?
      .modal-body
        %p If you do all its content will be lost
      .modal-footer
        %a.btn{"data-dismiss" => "modal", href: "#"} Close
        = link_to 'Delete', question, method: :delete, class: 'btn btn-primary'

-@diagnostic.segments.each do |segment|
  -segment.questions.each do |question|
    -question.sub_questions.each do |sub_question|
      .modal.fade{id: "delete_sub_question#{sub_question.id}"}
        .modal-header
          %a.close{"data-dismiss" => "modal"} x
          %h3 Are you sure you want to delete this sub question?
        .modal-body
          %p If you do all its content will be lost
        .modal-footer
          %a.btn{"data-dismiss" => "modal", href: "#"} Close
          = link_to 'Delete', sub_question, method: :delete, class: 'btn btn-primary'