%h1= @diagnostic.name

.row.well
  .span9
  - if check_admin(current_user)
    = link_to 'New Segment', new_segment_path(@diagnostic), class: 'btn'


-@diagnostic.segments.each do |segment|
  .row.well
    .span8
      =segment.name
    .span3
      - if check_admin(current_user)
        = link_to 'New Question', new_question_path(segment)
        = link_to 'Edit', edit_segment_path(segment)
        = link_to 'Delete', segment, method: :delete, data: { confirm: 'Are you sure?' }
   

  - segment.questions.each do |question|
    .row.well
      .span8
        = question.name
      .span3
        - if check_admin(current_user)
          = link_to 'New Sub question', new_sub_question_path(question)
          = link_to 'Edit', edit_question_path(question)
          = link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }
    - question.sub_questions.each do |sub_question|
      .row.well
        .span4
          = sub_question.name
        .span4
          = sub_question.evidence
        .span3
          - if check_admin(current_user)
            = link_to 'Edit', edit_sub_question_path(sub_question)
            = link_to 'Delete', sub_question, method: :delete, data: { confirm: 'Are you sure?' }
