<h1><%= @diagnostic.name %></h1>

<table class="table admin">
	<thead>
	<% if check_admin(current_user) %><th class="keep-left"><%= link_to 'New Segment', new_segment_path(@diagnostic), class: 'btn' %></th><% end %>
	</thead>
	<tbody>	
		<% @diagnostic.segments.each do |segment| %>
			<tr class='info'>
			<td><strong><%= segment.name %></strong><br/>
			<% if check_admin(current_user) %>
			<%= link_to 'New Question', new_question_path(segment) %></td>
			<td> <%= link_to 'Edit', edit_segment_path(segment) %> | <%= link_to 'Delete', segment, method: :delete, data: { confirm: 'Are you sure?' } %><td>
			<% end %>
			</tr>
			<% segment.questions.each do |question| %>
			<tr>
			<td><%= question.name %><br/>
			<% if check_admin(current_user) %>
			<%= link_to 'New Sub question', new_sub_question_path(question) %></td>
			<td ><%= link_to 'Edit', edit_question_path(question) %> | <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' } %><td>
			</tr>
			<% end %>
				<% question.sub_questions.each do |sub_question| %>
				<tr>
				<td class="indent"><em><%= sub_question.name %></em></td>
				<% if check_admin(current_user) %>
				<td><%= link_to 'Edit', edit_sub_question_path(sub_question) %> | <%= link_to 'Delete', sub_question, method: :delete, data: { confirm: 'Are you sure?' } %><td>
				</tr>
				<% end %>
				<% end %>
			<% end %>
			
		<% end %>
	</tbody>
