%p
  %h2.head
    =@diagnostic.name
%p
  %h5.head
    =@diagnostic.description
      
.span12.large.pad1
  -if user_signed_in? && @diagnostic.complete_for_user(current_user) > 0
    .progress.progress-striped
      .bar{:style => "width:"+"#{@diagnostic.complete_for_user(current_user)}%"}
        .black
          ="#{@diagnostic.complete_for_user(current_user)}% Complete"

.span6
  %div#wheel{:style => "width:400px;height:400px;clear:both"}
    = link_to(diagnostic_click_path(@diagnostic.id, 0, 0, 0), :remote => true, :id => 'wheel-link') do
      %img{:src => "/wheels/wheel_#{@diagnostic.id}.png"}

.fillright
  %div#questions
    =render('segments/questions', :segment => @segment)
  
.span12 
  =link_to "Back to all diagnostics", diagnostics_path

:javascript
  $("#wheel").mousemove(function(e){
    var offset = $(this).offset();
    var x = Math.floor(e.clientX - offset.left);
    var y = Math.floor(e.clientY - offset.top);
    $('#wheel-link').attr("href", "/diagnostics/#{@diagnostic.id}/click/" + x + "/" + y + "/" + getRotationDegrees($("#wheel")))
  });
  
  function getRotationDegrees(obj) {
      var matrix = obj.css("-webkit-transform") ||
      obj.css("-moz-transform")    ||
      obj.css("-ms-transform")     ||
      obj.css("-o-transform")      ||
      obj.css("transform");
      if(matrix !== 'none') {
          var values = matrix.split('(')[1].split(')')[0].split(',');
          var a = values[0];
          var b = values[1];
          var angle = Math.round(Math.atan2(b, a) * (180/Math.PI));
      } else { var angle = 0; }
      return (angle < 0) ? angle +=360 : angle;
  }