<h1>Listing diagnostics</h1>

<% if check_admin(current_user) %>
<%= link_to 'New Diagnostic', new_diagnostic_path, class: 'btn'  %>
<% end %>

<table class="table">
  <tr>
    <th class="keep-left2">Name</th>
    <th class="keep-left3">Description</th>
	<th></th>
  </tr>

<% @diagnostics.each do |diagnostic| %>
  <tr class="section">
    <td><%= diagnostic.name %></td>
    <td><%= diagnostic.description %></td>
    <td class="pulltoright">
	<span class="admin">
	<% if check_admin(current_user) %>
	<%= link_to 'Edit Name and Description', edit_diagnostic_path(diagnostic) %> | 
	<%= link_to 'Edit Content', diagnostic_admin_path(diagnostic) %> | 
    <%= link_to 'Delete', diagnostic, method: :delete, data: { confirm: 'Are you sure? This will delete all the content of this diagnostic.' } %> 
	<% else %>
	<%= link_to 'Show Content', diagnostic_admin_path(diagnostic) %>
	<% end %></span></td>
  </tr>
<% end %>
</table>
