<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @diagnostic.name %>
</p>

<p>
  <b>Description:</b>
  <%= @diagnostic.description %>
</p>


<%= link_to 'Edit', edit_diagnostic_path(@diagnostic) %> |
<%= link_to 'Back', diagnostics_path %>
