%p#notice=notice
%p
  %h2.head
    =@diagnostic.name
%p
  %h5.head
    =@diagnostic.description
      
.span12.large.pad1
  -if user_signed_in? && @diagnostic.complete_for_user(current_user) > 0
    .progress.progress-striped
      .bar{:style => "width:"+"#{@diagnostic.complete_for_user(current_user)}%"}
        .black
          ="#{@diagnostic.complete_for_user(current_user)}% Complete"

.span6
  .outer
    .spin
      .circle
      .background
      .wheel
        - count = 1
        .inner
          #wrapper
            -@diagnostic.segments.each do |seg|   
              %div{:class => "s#{count} w#{@diagnostic.segments.count} box"}
              %div{:class => "s#{count} w#{@diagnostic.segments.count}"}
                - count += 1
                =link_to seg.name, segment_questions_path(seg), :remote => true


.fillright
  %div#questions
    .alert.small
      %h3
        What Next?
      %h4
      Click on the spokes to navigate around the various questions
  
.span12 
  =link_to "Back to all diagnostics", diagnostics_path
