= stylesheet_link_tag    "application", :media => "all"
%link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet"}/
%p="#{@diagnostic.user_response(current_user.id)} Here is the radar graph for your the diagnostic:"
= image_tag "#{Rails.root}/public/results/#{@diagnostic.id}-#{current_user.id}.png"
