%p#notice= notice
%p
  %h3
    = @question.name
  

%table.table
  %thead
    %th
      %b Sub-Question
  %tbody
    - @question.sub_questions.each do |subquestion|
      %tr.section{:id => "#{subquestion.id}", :'data-animation' => :true, :'data-trigger' => :hover, :'data-html' => :true, :'data-title' => "Evidence", :'data-content' => "#{subquestion.evidence}"}
        %td
          = subquestion.name
        %td
          %div.btn{:id => "yes"}
            Yes
        %td
          %div.btn{:id => "no"}
            No
            
= link_to "Back to Diagnostic", diagnostic_path(@question.segment.diagnostic)