%p
%p
  %h3
    = @question.description

%table.table
  %thead
    %th
    
  %tbody
    - @question.sub_questions.sort_by { |k, v| k[:value] }.each do |subquestion|
      %tr.section{:id => "#{subquestion.id}", :'data-animation' => :true, :'data-html' => :true, :'data-title' => "Evidence", :'data-content' => "#{subquestion.evidence}"}
        %td
          = subquestion.name
        %td
          =link_to "&times".html_safe,  select_sub_question_path(subquestion.id), class: "btn select #{subquestion.yes?(current_user) ? 'btn-success' : ''}", id: "select-sub-question-#{subquestion.id}", :remote => true
   

-if !@question.next_question.nil? && !@question.previous_question.nil?
  .span2
    =link_to 'Previous question', question_path(@question.previous_question), :class => "btn btn-primary pull-left"
 
.pad1{class: "#{!@question.next_question.nil? && !@question.previous_question.nil? ? 'span7' : ''}"}
  .progress.progress-striped
    .bar{:style => "width:"+"#{@question.segment.complete_for_user(current_user)}%"}
      .black
        ="#{@question.segment.complete_for_user(current_user)}%&nbsp;Complete".html_safe


-if !@question.next_question.nil? && !@question.previous_question.nil?
  .span2  
    =link_to 'Next question', question_path(@question.next_question), :class => "btn btn-primary pull-right"


.gap
  = link_to "Back to Diagnostic", diagnostic_segment_path(@question.segment.diagnostic.id, @question.segment.id)

- @question.sub_questions.each do |subquestion|
  -if subquestion.evidence.present?
    :javascript
      $(function ()  
      {
        $("##{subquestion.id}").popover(
        {
           trigger: 'hover',
           html: true,
           placement: 'right',
        });
      });