%p
%p
  %h3
    = @question.name

%table.table
  %thead
    %th
    
  =form_tag question_path(@question) do  
    %tbody
      - @question.sub_questions.each do |subquestion|
        %tr.section{:id => "#{subquestion.id}", :'data-animation' => :true, :'data-html' => :true, :'data-title' => "Evidence", :'data-content' => "#{subquestion.evidence}"}
          %td
            = subquestion.name
          %td
            %input{:name => "sub_question_id", :value => "#{subquestion.id}", :type => "radio"}
      =submit_tag 'select'
   

-if @question.segment.questions.count > 1
  .span2
    =link_to 'Previous question', question_path(previous_id_for_question(@question)), :class => "btn btn-primary pull-left"
 
.pad1{class: "#{@question.segment.questions.count > 1? 'span7' : ''}"}
  .progress.progress-striped
    .bar{:style => "width:"+"#{@question.segment.complete_for_user(current_user)}%"}
      .black
        ="#{@question.segment.complete_for_user(current_user)}%&nbsp;Complete".html_safe

-if @question.segment.questions.count > 1
  .span2  
    =link_to 'Next question', question_path(next_id_for_question(@question)), :class => "btn btn-primary pull-right"


.gap
  = link_to "Back to Diagnostic", diagnostic_segment_path(@question.segment.diagnostic.id, @question.segment.id)

- @question.sub_questions.each do |subquestion|
  -if subquestion.evidence.present?
    :javascript
      $(function ()  
      {
        $("##{subquestion.id}").popover(
        {
           trigger: 'hover',
           html: true,
           placement: 'right',
        });
      });