<%= simple_form_for(@sub_question, :html => { class: "well" }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :evidence %>
    <input type='hidden' name='sub_question[question_id]' value = '<%= @sub_question.question.id %>'>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
