<h1>Listing sub_questions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Question</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_questions.each do |sub_question| %>
  <tr>
    <td><%= sub_question.name %></td>
    <td><%= sub_question.question.name %></td>
    <td><%= link_to 'Show', sub_question %></td>
    <td><%= link_to 'Edit', edit_sub_question_path(sub_question) %></td>
    <td><%= link_to 'Delete', sub_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sub question', new_sub_question_path %>
