<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sub_question.name %>
</p>

<p>
  <b>Question:</b>
  <%= @sub_question.question_id %>
</p>


<%= link_to 'Edit', edit_sub_question_path(@sub_question) %> |
<%= link_to 'Back', sub_questions_path %>
