.span12.well.row.top
  %h3
    Search for users
  = semantic_form_for search_path, :method => 'get' do |f|
    %p
      = f.input :words, :class => "search-input mb-2", :placeholder => "Name"

      .span6
        = f.action :submit, :label => "Update search", :"data-loading-text" => "Searching...", :button_html => { :class => 'btn btn-primary btn-block negative-margin-left'}

-@users.each do |user|
  .span12.well.user-info
    %h4= link_to("#{user.full_name} - #{user.organisation}", user_path(user.id))
    -Diagnostic.all.each do |dia|
      .row
        -if tx=user.transactions.where(:completed => true).where(:diagnostic_id => dia.id).first
          .row.span12
            ="Paid for a customised report on #{tx.updated_at.strftime("%e %B %Y")}"
        -if FileTest.exists?("#{Rails.root}/public/results/#{dia.id}-#{user.id}.png")
          .span3
            =image_tag "/results/#{dia.id}-#{user.id}.png"
