-if @user.errors.any?
  .alert.alert-danger
    %button.close{"data-dismiss" => "alert"} x
    %h3
      =pluralize(@user.errors.count, "error")
      prevented this diagnostic from being saved:
    %ul
    -@user.errors.each do |error|
      %li.head
        = "#{error} #{@user.errors[error].first}"
  
.row
  .span6
    %h2 Create user
    %p Create a new account
    = simple_form_for(@user, html: { class: 'form-vertical well' }) do |f|
      = f.input :first_name, input_html: { class: 'input-xlarge' }
      = f.input :last_name, input_html: { class: 'input-xlarge' }
      = f.input :email, input_html: { class: 'input-xlarge' }
      = f.input :password, input_html: { class: 'input-xlarge', autocomplete: 'off' }
      = f.input :password_confirmation, input_html: { class: 'input-xlarge', autocomplete: 'off' }
      .form-actions
        = f.submit "Create user", class: 'btn btn-primary'