.row.span12.pad1
  %h3
    ="#{@user.full_name} - #{@user.organisation}"
    =link_to("Reset password", reset_password_path(@user.id), :class => "btn")
  .negative-margin-top
    =link_to @user.email, "mailto:#{@user.email}"

.row.span12.pad1
  %h5
    ="#{@user.full_name}'s results:"
    

-results = false

-Diagnostic.all.each do |dia|
  
  .row.span12.mb-1
    -if tx=@user.transactions.where(:completed => true).where(:diagnostic_id => dia.id).first
      ="Paid for a customised report on #{tx.updated_at.strftime("%e %B %Y")}"

  -if FileTest.exists?("#{Rails.root}/public/results/#{dia.id}-#{@user.id}.png")
    -results = true
    .row.span12.well.section.chart
      .row
        .span12
          %h3.no-top-margin
            =dia.name
      .row.head2
        = dia.description
        = link_to "Download their personalised diagnostic report", diagnostic_show_pdf_path(dia.id, @user.id) + ".pdf"
        %img{src: "/results/#{dia.id}-#{@user.id}.png"}/

  -if !results
    .row.span12.pad1
      This user has no results
