<% if @segment.errors.any? %>
<div class="alert alert-danger">
  <button class="close" data-dismiss="alert">x</button>
  <h3><%= pluralize(@segment.errors.count + @diagnostic.errors.count, "error") %> prevented this segment from being saved:</h3>
  <ul>
	  <% (@segment.merge!(@diagnostic)).errors.full_messages do |msg| %>
	  <li><%= msg %></li>
    <% end %>
</ul>
</div>
<% end %>

<h2><%= crud_state_to_name(@crud_state) %> segment</h2>

<h4><%= crud_state_to_name(@crud_state) %> segment for <%= @segment.diagnostic.name %></h4>

<%= simple_form_for(@segment, :html => { class: "well" }) do |f| %>

  <div class="form-inputs">
    <%= f.input :name, :html => { class: "label" } %>
	<input type='hidden' name='segment[diagnostic_id]' value = '<%= @segment.diagnostic.id %>'/>
  </div>

  <div class="form-actions">
    <%= f.submit "Save", class: "btn"  %>
  </div>
<% end %>
