-if @info.errors.any?
  .alert.alert-danger
    %button.close{"data-dismiss" => "alert"} x
    %h3
      = pluralize(@info.errors.count, "error")
      prevented this info from being saved:
    %ul
      - @info.errors.full_messages.each do |msg|
        %li= msg
%h2="Editing #{@info.name}"
= simple_form_for(@info, :html => { class: "well" }) do |f|
  .form-inputs
    = f.input :content, :input_html => {:rows => 5}
  .form-actions
    = f.submit "Save", class: "btn"
