!!!
%html
  %head
    %title Survey
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Home", home_index_path, class: "brand"
          %ul.nav.navbar-nav
            %li= link_to "All Diagnostics", diagnostics_path
          %ul.nav.navbar-nav.pull-right
            - if user_signed_in?
              %li= link_to current_user.full_name, edit_user_registration_path
              %li= link_to "Log Out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Register", new_user_registration_path
              %li= link_to "Log In", new_user_session_path
    - if !(controller_name == "home" || (controller_name == "diagnostics" && controller.action_name == "admin") || (controller_name == "registrations" && controller.action_name == "new"))
      .container
        - flash.each do |type, message|
          %div{class: "alert alert-block #{flash_class(type, action_name)}"}
            %button.close{"data-dismiss" => "alert"} x
            %h4= flash_header message
            %div= message
        = yield
    - else
      = yield